/* @begin Checkout Wizard */
#checkout-wizard .wizard-steps {
    text-align: center;
    text-transform: lowercase;
    margin: 0 0 1em 0;
}
#checkout-wizard .wizard-steps li {
    display: inline;
    margin-right: 1em;
}
#checkout-wizard .wizard-steps .selected {
    font-weight: bold;
    font-size: 120%;
}

#checkout-wizard fieldset {
    float: left;
    margin-right: 1em;
}
#checkout-wizard fieldset .row {
    float: none;
}

#checkout-wizard #order-status dl {
    margin: 0;
}
#checkout-wizard .fieldErrorBox .error {
    border: none;
    margin-top: 0;
    padding: 0;
}

#checkout-wizard .formControls {
    clear: both;
    border-color: #329FD7;
    border-style: solid none none none;
    border-width: 0.1em;
    text-align: right;
    margin: 0 0 0 0;
}
#checkout-wizard .formControls input {
    float: right;
    margin: 0.25em 0 0 0.25em;
    padding: 0.1em 0.5em;
    font-size: 200%;
}

#online-payment-methods {
    margin-bottom: 0;
}
#online-payment-methods form {
    float: left;
}
#online-payment-methods form input {
    margin: 0 0.25em 0.25em 0;
    padding: 0.1em 0.5em;
    font-size: 200%;
}

#payment-methods #formfield-method-widgets-processor_id > label,
#payment-methods #formfield-method-widgets-processor_id > span.required.horizontal {
    display: none;
}
/* @end Checkout Wizard */