/* @begin Checkout Wizard */
.wizard-steps {
    text-align: center;
}

#content .wizard-steps li {
    display: inline;
    margin-right: 1em;
}

.wizard-step-link.selected {
    font-weight: bold;
    font-size: 120%;
}

#checkout-wizard form fieldset {
    float: left;
    margin-right: 1em;
}

#checkout-wizard form fieldset .row {
    float: none;
}

#checkout-wizard fieldset#order-status dl {
    margin: 0;
}

#checkout-wizard .fieldErrorBox .error {
    border: none;
    margin-top: 0;
    padding: 0;
}

.wizard-buttons {
    clear: both;
    border-color: #329FD7;
    border-style: solid none none none;
    border-width: 0.1em;
    text-align: right;
}

.wizard-buttons .action {
    float: right;
}

.wizard-buttons input,
#payment-buttons input {
    margin: 0.25em 0 0 0.25em;
    padding: 0.1em 0.5em;
    font-size: 200%;
}

#payment-buttons {
    margin-bottom: 0;
}

#payment-methods #formfield-method-widgets-processor_id > label,
#payment-methods #formfield-method-widgets-processor_id > span.required.horizontal {
    display: none;
}
/* @end Checkout Wizard */