#shopping-cart table.listing th,
#shopping-cart table.listing td {
    vertical-align: middle;
}

#shopping-cart .formControls input {
    margin: 0.25em 0.25em 0 0;
    padding: 0.1em 0.5em;
    font-size: 125%;
}

.portlet.shopping-cart p:last-child {
    margin-bottom: 0;
}